@use '@/styles/mixins' as *;
@use '@/styles/functions' as *;

.textLink {
  position: relative;
  display: inline-flex;
  padding: #{px-to-rem(6)} 0;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  color: var(--link-text);
  letter-spacing: #{px-to-rem(1)};
  overflow-x: hidden;
  transition: var(--transition-main);

  &:focus-visible {
    @include focused;
  }

  &:hover,
  &:focus-visible {
    color: var(--link-text-hover);
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: var(--full-percent);
    height: #{px-to-rem(3)};
    transition: var(--transition-main);
    opacity: 0;
  }

  &::before {
    top: 0;
    left: -150%;
    background-color: var(--bg-btn-primary);
  }

  &::after {
    bottom: 0;
    right: -150%;
    background-color: var(--bg-btn-secondary);
  }

  &:hover::before,
  &:focus-visible::before,
  &:hover::after,
  &:focus-visible::after {
    opacity: 1;
    transition: var(--transition-main);
  }

  &:hover::before,
  &:focus-visible::before {
    left: 0;
  }

  &:hover::after,
  &:focus-visible::after {
    right: 0;
  }

  &__icon {
    height: #{px-to-rem(24)};
    width: #{px-to-rem(24)};
  }
}
