:root { 
    --border-cta: hsl(var(--orange-500));
    --border-primary: hsl(var(--aqua-500));
    --border-secondary: hsl(var(--aqua-500));
    
    --border-error: hsl(var(--red-500));

    --border-link: hsl(var(--blue-500));
}


[data-theme="dark"] {
    --border-cta: hsl(var(--red-500));
    --border-primary: hsl(var(--pink-500));
    --border-secondary: hsl(var(--green-500));
}