:root {
    --text-primary: hsl(var(--gray-900));

    --link-text: hsl(var(--blue-700));
    --link-text-hover: hsl(var(--blue-900));

}

[data-theme='dark'] {
    --text-primary: hsl(var(--gray-100));

    --link-text: hsl(var(--green-300));
    --link-text-hover: hsl(var(--green100));
}