:root {
  --gray-900: 240 2% 10%; // #19191A
  --gray-800: 240 1% 22%; // #373738
  --gray-700: 240 5% 31%; // #4C4C54
  --gray-600: 240 10% 42%; // #606075
  --gray-500: 240 11% 52%; // #777791
  --gray-400: 240 7% 65%; // #9F9FAB
  --gray-300: 240 5% 75%; // #BCBCC2
  --gray-200: 240 3% 87%; // #DEDEE0
  --gray-100: 240 20% 98%; // #F9F9FB

  --purple-900: 280 12% 14%; // #262029
  --purple-800: 279 27% 25%; // #462F52
  --purple-700: 280 39% 37%; // #6A3982
  --purple-600: 280 44% 47%; // #8A44AD
  --purple-500: 280 54% 52%; // #9B44C7
  --purple-400: 281 79% 62%; // #BA52EB
  --purple-300: 281 75% 72%; // #CB82ED
  --purple-200: 280 75% 84%; // #E1B8F5
  --purple-100: 284 71% 96%; // #F8EDFC

  --blue-900: 240 79% 3%; // #02020D
  --blue-800: 240 71% 8%; // #060621
  --blue-700: 238 74% 12%; // #080933
  --blue-600: 241 79% 16%; // #0A094A
  --blue-500: 234 79% 25%; // #0D1770
  --blue-400: 238 76% 50%; // #1F27E0
  --blue-300: 222 72% 73%; // #89A6EC
  --blue-200: 222 73% 87%; // #C6D4F6
  --blue-100: 220 79% 96%; // #EDF2FD

  --aqua-900: 198 71% 5%; // #041117
  --aqua-800: 196 57% 18%; // #133A47
  --aqua-700: 196 44% 30%; // #2B5C6E
  --aqua-600: 190 44% 47%; // #439BAD
  --aqua-500: 184 61% 58%; // #54CED6
  --aqua-400: 184 78% 64%; // #5CE2EB - PRIMARY
  --aqua-300: 184 77% 74%; // #89EAF0
  --aqua-200: 184 76% 86%; // #C0F3F6
  --aqua-100: 184 71% 96%; // #EEFBFC

  --green-900: 158 64% 8%; // #072118
  --green-800: 158 74% 14%; // #093D2A
  --green-700: 158 74% 20%; // #0D593E
  --green-600: 144 57% 39%; // #2A9C57
  --green-500: 144 68% 59%; // #50DE89
  --green-400: 144 78% 77%; // #99F2BC
  --green-300: 137 72% 82%; // #B1F2C3
  --green-200: 130 74% 88%; // #CBF7D2
  --green-100: 115 53% 94%; // #E7F7E6

  --yellow-900: 68 32% 4%; // #0C0D07
  --yellow-800: 68 32% 21%; // #434724
  --yellow-700: 68 32% 43%; // #87914A
  --yellow-600: 68 49% 57%; // #B8C75A
  --yellow-500: 70 76% 71%; // #DBED7D
  --yellow-400: 70 66% 80%; // #E2EDA8
  --yellow-300: 70 56% 84%; // #E6EDC0
  --yellow-200: 70 46% 87%; // #E8EDCE
  --yellow-100: 70 21% 91%; // #ECEDE4

  --orange-900: 7 42% 5%; // #120907
  --orange-800: 7 42% 16%; // #381B17
  --orange-700: 7 27% 36%; // #754943
  --orange-600: 7 43% 50%; // #B55548
  --orange-500: 7 50% 60%; // #CC7266
  --orange-400: 7 59% 68%; // #DE8A7E - secondary
  --orange-300: 7 66% 80%; // #EDB1A8
  --orange-200: 7 59% 88%; // #F2D2CE
  --orange-100: 7 37% 94%; // #F5EAE9

  --red-900: 353 12% 14%; // #292021
  --red-800: 354 28% 28%; // #5C3438
  --red-700: 354 32% 38%; // #804248
  --red-600: 354 44% 44%; // #A13F48
  --red-500: 350 78% 54%; // #E52E4D
  --red-400: 350 79% 61%; // #EB4D68
  --red-300: 352 75% 68%; // #EB7081
  --red-200: 352 66% 76%; // #EB9BA5
  --red-100: 352 68% 96%; // #FCEEF0

  --pink-900: 328 56% 6%; // #1A0711
  --pink-800: 328 56% 13%; // #330E22
  --pink-700: 328 69% 18%; // #4F0E31
  --pink-600: 328 75% 33%; // #941559
  --pink-500: 328 60% 45%; // #B82E78
  --pink-400: 328 51% 61%; // #CF69A0
  --pink-300: 328 54% 76%; // #E3A1C5
  --pink-200: 328 59% 86%; // #F0C5DC
  --pink-100: 328 41% 90%; // #F0DAE6
}
