@import "tailwindcss";

:root {
  --background: theme(color.slate.100);
  --foreground: theme(color.slate.950);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-atkinson-next);
  --font-mono: var(--font-atkinson-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: theme(color.slate.900);
    --foreground: theme(color.emerald.100);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-atkinson-next);
  font-size: theme(fontSize.base);
}
