*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // border: 1px solid hotpink;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-atkinson-mono);
}

html {
  overflow-x: hidden;
}

body {
  min-height: 100dvh;
  max-width: var(--max-page-width);
  margin: var(--margin-page);
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: var(--font-atkinson-next);
  font-size: var(--fs-300);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: var(--transition-main);
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: var(--font-atkinson-mono);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  // outline: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
textarea,
select {
  border: none;
  // outline: none;
  background: none;
}

input[type='search'],
input[type='number'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input,
textarea,
select,
button {
  color: inherit;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='checkbox'],
input[type='radio'] {
  appearance: none;
  padding: 0;
}

textarea:not([rows]) {
  min-height: 10em;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
